{%  extends 'base.html' %}

{% block title %}{{ metadata.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ metadata.title }}</h1>
        <p class="article-date">
            Published on - {{ metadata.date }}
            {% if metadata.author %}
                by {{ metadata.author }}
            {% endif %}
        </p>
        <div class="article-content">
            {{ content | safe }}
{#            the data is flagged safe so that the template engine doesn't skip it#}
        </div>
    </article>
{% endblock %}