{% extends 'base.html' %}

{% block content %}
    <div class="space-y-8">
        <h1 class="text-2xl font-bold text-gray-100">Latest Articles</h1>
        {% for article in articles %}
            <div class="bg-dark-200 shadow-lg rounded-lg p-6 transition duration-300 ease-in-out hover:bg-dark-300">
                <h2 class="text-xl font-semibold text-gray-100 mb-2">
                    <a href="{{ url_for('article', slug=article.slug) }}" class="hover:underline">
                        {{ article.title }}
                    </a>
                </h2>
                <p class="text-sm text-gray-400 mb-4">Published on {{ article.date }}</p>
                <a href="{{ url_for('article', slug=article.slug) }}" class="text-blue-400 hover:text-blue-300 transition duration-150 ease-in-out">Read More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

